<div id="footer">
    <div id="bottom">
        <div class="bottom-nav">
            <a href="#" class="hintBox" onclick="hintFun()">把本站设为首页</a><span>|</span>
            <a href="#" class="hintBox" onclick="hintFun()">关于智慧城市公共服务平台</a><span>|</span>
            <a href="#" class="hintBox" onclick="hintFun()">本站申明</a><span>|</span>
            <a href="#" class="hintBox" onclick="hintFun()">新手指南</a><span>|</span>
            <a href="#" class="hintBox" onclick="hintFun()">联系我们</a>
        </div>
        <div class="bottom-info">
            <span>主办单位：东华智慧研究院&nbsp;&nbsp;</span>
            <span>备案：京ICP备12000333号-2&nbsp;&nbsp;</span>
            <img src="./images/3.png">
            <span class="bottom-text">&nbsp;&nbsp;&nbsp;&nbsp;京公网安备 33010602004556号 </span>
            <p>中文域名：政务服务.政务 建议使用1366*768分辨率/IE9.0或以上浏览器访问达到最佳效果</p>
        </div>
    </div>
</div>
