/*main  开始*/
#main{
    width: 100%;
    height: 380px;
}
#main-box{
    width: 1000px;
    height: 380px;
    margin: 0 auto;
    position: relative;
}
.location{
    width: 220px;
    height: 20px;
    font-size: 14px;
    margin-top: 15px;
}
.change-div{
    width: 1000px;
    height: 280px;
    background-color: white;
    position: relative;
}
.change-pass{
    width: 1000px;
    height: 150px;
    position: absolute;
    top: 75px;
}
.change-pass li{
    width: 310px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.change-pass li input{
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid #e7e7e7;
    font-size: 16px;
}
.btn{
    background-color: #0e90d2;
    width: 310px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
/*main  结束*/



/*攻城狮正在攻克的悬浮框*/
#bg{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    /*IE下使用*/
    filter: alpha(opacity=70);
}
#show{
    display: none;
    position: fixed;
    top: 35%;
    left: 30%;
    width: 560px;
    height: 260px;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index:1002;
}
.close-img{
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
}
.hint-text{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    top: 120px;
    left: 140px;
}
